<div class="col-md-2" id="nav">
  <ul>
    <li class="<%- ( path === '/recent_submissions') ? 'active' : '' %>"><a href="/admin_panel/recent_submissions">Recent Submisions</a></li>
    <li class="<%- ( path === '/waiting_for_review') ? 'active' : '' %>"><a href="/admin_panel/waiting_for_review">Waiting for Review</a></li>
    <li class="<%- ( path === '/reviewed_paper') ? 'active' : '' %>"><a href="/admin_panel/reviewed_paper">Reviewed Paper</a></li>
    <li class="<%- ( path === '/sent_back_to_author') ? 'active' : '' %>"><a href="/admin_panel/sent_back_to_author">Sent Back to Authors</a></li>
    <li class="<%- ( path === '/returned_paper') ? 'active' : '' %>"><a href="/admin_panel/returned_paper">Returned Papers</a></li>
    <li class="<%- ( path === '/paper_in_revision') ? 'active' : '' %>"><a href="/admin_panel/paper_in_revision">Paper In Revision</a></li>
    <li class="<%- ( path === '/revised_paper') ? 'active' : '' %>"><a href="/admin_panel/revised_paper">Revised Paper</a></li>
    <li class="<%- ( path === '/completed_paper') ? 'active' : '' %>"><a href="/admin_panel/completed_paper">Completed Paper</a></li>
    <li class="<%- ( path === '/volumes') ? 'active' : '' %>"><a href="/admin_panel/volumes">Volumes</a></li>
    <li class="<%- ( path === '/site_manager') ? 'active' : '' %>"><a href="/admin_panel/site_manager">Website Manager</a></li>
  </ul>
</div>