<%- include('../partials/head') %>
  <body class="bg-light">
    <%- include('../partials/top-navbar') %> 
    <div class="container-fluid pt-4 px-md-0 p-4">
      <div class="row">
        <%- include('../partials/left-sidebar') %> 
        <div class="col-md-7 text-justify db-page">
          <%- html %>
        </div>
        <%- include('../partials/right-sidebar') %> 
      </div>
    </div>
    <%- include('../partials/footer') %>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
